{% extends "base.html" %}

{% block content %}
<h1>Добавление фильма</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.film.label }}<br>
        {{ form.film(class="form-control") }}<br>
        {% for error in form.film.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.genre.label }}<br>
        {{ form.genre(class="form-control") }}<br>
        {% for error in form.genre.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.film_duration.label }}<br>
        {{ form.film_duration(class="form-control") }}<br>
        {% for error in form.film_duration.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}