<head>
    <title>Подробности</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
</head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand mb-0 h1" href="http://127.0.0.1:5000/">
                 <img src="../static/assets/logo.png" alt="" width="25" height="30" class="d-inline-block align-text-top">
                    Фильмс 2.0
            </a>
            <div class="navbar-nav">
                <a class="navbar-brand" href="http://127.0.0.1:5000/">
                    <img src="../static/assets/house.png" alt="" width="35" height="30" class="d-inline-block align-text-top">
                        Главная страница
                </a>
                {% if current_user.is_authenticated %}
                    <a class="navbar-brand" href="http://127.0.0.1:5000/search">
                        <img src="../static/assets/search.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
                            Поиск
                    </a>
                    <a class="navbar-brand" href="http://127.0.0.1:5000/recommend">
                        <img src="../static/assets/like.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
                            Рекомендации
                    </a>
                {% endif %}
                <a class="navbar-brand" href="http://127.0.0.1:5000/help">
                    <img src="../static/assets/question.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
                        Справка
                </a>
            </div>
            <div class="navbar-collapse collapse">
                {% if current_user.is_authenticated %}
                <img src="../static/assets/people.png" alt="" width="30" height="30" class="d-inline-block align-text-top ml-auto">
                    <a class="navbar-brand" href="/logout">{{ current_user.name }} {{ current_user.surname }}</a>
                {% else %}
            </div>
                <div class="text-right">
            <p>
                <a class="btn btn-primary" href="/register">Регистрация</a>
                <a class="btn btn-success" href="/login">Войти</a>
            </p>
                </div>
            {% endif %}
        </nav>
    </header>

{% block content %}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Фильм: {{ films.film }}</h1>

    <div class="alert alert-info">
        <p>Название: {{ films.film }}</p>
        <p>Жанр: {{ films.genre }}</p>
        <p>Подробнее: {{ films.description }}</p>
        <p>Кем добавлен: {{ names[films.added_by][0] }} {{ names[films.added_by][1] }}</p>
        <p>Длительность: {{ films.film_duration }} minutes</p>
        <p>Когда был добавлен: {{ films.adding_date }}</p>
    </div>
    <a href="/search" class="btn btn-danger">
            Назад
        </a>
</div>
{% endblock %}