<!DOCTYPE html>
<html lang="en">
<head>
    <title>Помощь</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
</head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand mb-0 h1" href="http://127.0.0.1:5000/">
                 <img src="../static/assets/logo.png" alt="" width="25" height="30" class="d-inline-block align-text-top">
                    Фильмс 2.0
            </a>
            <div class="navbar-nav">
                <a class="navbar-brand" href="http://127.0.0.1:5000/">
                    <img src="../static/assets/house.png" alt="" width="35" height="30" class="d-inline-block align-text-top">
                        Главная страница
                </a>
                {% if current_user.is_authenticated %}
                    <a class="navbar-brand" href="http://127.0.0.1:5000/search">
                        <img src="../static/assets/search.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
                            Поиск
                    </a>
                    <a class="navbar-brand" href="http://127.0.0.1:5000/recommend">
                        <img src="../static/assets/like.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
                            Рекомендации
                    </a>
                {% endif %}
                <a class="navbar-brand" href="http://127.0.0.1:5000/help">
                    <img src="../static/assets/question.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
                        Справка
                </a>
            </div>
            <div class="navbar-collapse collapse">
                {% if current_user.is_authenticated %}
                <img src="../static/assets/people.png" alt="" width="30" height="30" class="d-inline-block align-text-top ml-auto">
                    <a class="navbar-brand" href="/logout">{{ current_user.name }} {{ current_user.surname }}</a>
                {% else %}
            </div>
                <div class="text-right">
            <p>
                <a class="btn btn-primary" href="/register">Регистрация</a>
                <a class="btn btn-success" href="/login">Войти</a>
            </p>
                </div>
            {% endif %}
        </nav>
    </header>
    <h1 align="center">WE ARE HERE TO HELP YOU!</h1>
    <br>
        <h4>
           > Тема проекта: Web-приложение "Фильмс" и телеграмм бот.</br>
            <br>
           > Цель проекта: создание web-приложения, которое будет хранить заранее или последующие внесённые фильмы в
            базу данных, и разработка поиска по запросу. Создание телеграмм бота,
            работающий с базой данных, которая будет хранить фильмы.</br>
            <br>
           > Данный проект был разработан с целью создания web-приложения "Фильмс", которое будет хранить заранее
            или последующие внесённые фильмы в базу данных, а также разработка поиска фильмов по запросу,
            который задаст пользователь. В проект входит создание телеграмм бота, который будет работать с базой
            данных фильмов.</br>
            <br>
           > Использованные библиотеки в ходе создания проекта:</br>
            <br>
            1. Flask-Login<br>
            3. Flask-RESTful<br>
            4. SQLAlchemy<br>
            5. SQLAlchemy-serializer<br>
            6. flask<br>
            7. flask-wtf<br>
            8. telegram-ext<br>
            9. requests<br>
            10. bs4<br>
            11. sqlite3<br>
            12. random<br>
            13. flask_restful<br>
            14. datetime<br>
            <br>
            > Чтобы выполнить поиск по базе данных, достаточно зайти во вкладку "Поиск" и ввести интересующие Вас
            название. Вы также можете нажать на кнопку "Добавить фильм", и добавить свой фильм в базу данных.</br>
            <br>
            После добавления, Вы сможете изменить данные фильма, который был добавлен Вами в базу. Вы можете посмотреть
            подробности фильма.
        </h4>
    <img src="../static/assets/funny.png" alt="funny" width="300" height="300">
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
  </body>
</html>