{% extends "base.html" %}

{% block content %}
<title>Поиск</title>
<meta charset="UTF-8">
<h2 align="center">Фильмы</h2>
<form action="/search" method="POST">
    <div class="input-group">
            <input class="form-control mr-sm-2" type="text" name="search" placeholder="Поиск...">
            <button type="submit" value="Search" class="btn btn-outline-success my-2 my-sm-0">Поиск</button>
    </div>
</form>
<p>{% if current_user.is_authenticated %}
    <a href="add" class="btn btn-secondary_add">Добавить фильм в базу</a>
    {% endif %}</p>

    {% for film in films %}
    <h3>Фильм # {{film[0]}}</h3>
    <a href="/add_detail/{{ film[0] }}" class="btn btn-warning">
            Детальнее
        </a>
{% if current_user.is_authenticated and current_user == film[6], film[7] %}
    <div>
        <br>
        <a href="/add/{{ film[0] }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/add_delete/{{ film[0] }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
{% endif %}
<div class="table_container">
<table class="my_table" id="demo">
    <tr class="my_row">
            <td class="title" width="500px" bgcolor="#979A9A">Название фильма</td>
            <td class="title" width="250px" bgcolor="#979A9A">Жанр фильма</td>
            <td class="title" width="250px" bgcolor="#979A9A">Кем добавлен</td>
            <td class="title" width="200px" bgcolor="#979A9A" align="center">Продолжительность</td>
            <td class="title" width="200px" bgcolor="#979A9A" align="center">Когда был добавлен</td>
    </tr>
    <tr class="my_row">
            <td class="ordinary" bgcolor="#C0C0C0">{{film[1]}}</td>
            <td class="ordinary" bgcolor="#C0C0C0">{{film[2]}}</td>
            <td class="ordinary" bgcolor="#C0C0C0">{{ film[6] }} {{ film[7] }}</td>
            <td class="ordinary" bgcolor="#C0C0C0" align="center">{{ film[3] }} minutes</td>
            <td class="ordinary" bgcolor="#C0C0C0" align="center">{{ film[5]}}</td>
    </tr>
  </table>
</div>
<br>

{% endfor %}
{% endblock %}