{% extends "base.html" %}

{% block content %}
<title>Поиск</title>
<meta charset="UTF-8">
<h2 align="center">Фильмы</h2>
<form action="/search" method="POST">
    <div class="input-group">
        <input class="form-control mr-sm-2" type="text" name="search" placeholder="Поиск...">
        <select class="form-select" name="option">
            <option selected value="film">Название фильма</option>
            <option value="genre">Жанр</option>
            <option value="name">Кем добавлен</option>
            <option value="film_duration">Продолжительность</option>
            <option value="adding_date">Дата добавления</option>
        </select>
        <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Поиск</button>
    </div>
</form>
<p>{% if current_user.is_authenticated %}
<br>
    <a style="width:50%;transform:translate(50%, 0%);" href="add" class="btn btn-secondary">Добавить фильм в базу</a>
    <br>
    {% endif %}</p>

{% for film in films %}
    <h3 style="color:white;" align="center"><span class="badge bg-dark">Фильм # {{film[0]}}</span></h3>
<div class="table_container">
<table class="my_table" id="demo">
    <tr class="my_row" style="border:5px solid;">
            <td class="title" width="500px" bgcolor="#24262b">Название фильма</td>
            <td class="title" width="250px" bgcolor="#24262b">Жанр фильма</td>
            <td class="title" width="250px" bgcolor="#24262b">Кем добавлен</td>
            <td class="title" width="200px" bgcolor="#24262b" align="center">Продолжительность</td>
            <td class="title" width="200px" bgcolor="#24262b" align="center">Когда был добавлен</td>
    </tr>
    <tr class="my_row">
            <td class="ordinary" bgcolor="#3b3e47">{{film[1]}}</td>
            <td class="ordinary" bgcolor="#3b3e47">{{film[2]}}</td>
            <td class="ordinary" bgcolor="#3b3e47">{{ film[6] }} {{ film[7] }}</td>
            <td class="ordinary" bgcolor="#3b3e47" align="center">{{ film[3] }} minutes</td>
            <td class="ordinary" bgcolor="#3b3e47" align="center">{{ film[5]}}</td>
    </tr>
  </table>
</div>
<br>
        <a href="/add_detail/{{ film[0] }}" class="btn btn-success">Детальнее</a>
        {% if current_user.is_authenticated and current_user.name == film[7] and current_user.surname == film[6] %}
                <a href="/add/{{ film[0] }}" class="btn btn-warning">
                    Изменить
                </a>
                <a href="/add_delete/{{ film[0] }}" class="btn btn-danger">
                    Удалить
                </a>
        {% endif %}
    </div>
    <br>

{% endfor %}
{% endblock %}